*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:white;
    color:#111;
}

a{
    text-decoration:none;
}
.site-header{
    background:white;
    border-bottom:1px solid #e5e5e5;
}

.site-navbar{
    width:1180px;
    height:86px;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.site-logo img{
    height:54px;
    display:block;
}

.site-nav-links{
    display:flex;
    align-items:center;
    gap:34px;
    list-style:none;
}

.site-nav-links a{
    color:#111;
    font-size:15px;
    font-weight:700;
}

.site-nav-links a:hover{
    color:#2451ff;
}

.site-btn-login{
    background:#2451ff;
    color:white;
    padding:12px 18px;
    border-radius:10px;
    font-weight:700;
}
.site-footer{
    margin-top:80px;
    background:#020617;
    color:white;
}

.footer-newsletter{
    width:1180px;
    margin:0 auto;
    padding:50px 0 40px;
    display:grid;
    grid-template-columns:1fr 520px;
    gap:40px;
    align-items:center;
    border-bottom:1px solid rgba(255,255,255,0.15);
}

.footer-newsletter h2{
    font-size:30px;
    margin-bottom:12px;
}

.footer-newsletter p{
    color:#cbd5e1;
    line-height:1.5;
}

.footer-newsletter form{
    display:grid;
    grid-template-columns:1fr 210px;
    gap:18px;
}

.footer-newsletter input{
    padding:16px;
    border:none;
    border-radius:10px;
    background:#e5e5e5;
}

.footer-newsletter button{
    background:#2451ff;
    color:white;
    border:none;
    border-radius:10px;
    font-weight:700;
}

.footer-content{
    width:1180px;
    margin:0 auto;
    padding:55px 0;
    display:grid;
    grid-template-columns:1.7fr 1fr 1fr 1fr;
    gap:60px;
    border-bottom:1px solid rgba(255,255,255,0.15);
}

.footer-brand img{
    height:55px;
    margin-bottom:18px;
}

.footer-brand h3{
    font-size:20px;
    margin-bottom:14px;
}

.footer-brand p{
    color:#cbd5e1;
    line-height:1.7;
    max-width:330px;
    font-size:14px;
}

.footer-col{
    display:flex;
    flex-direction:column;
}

.footer-col h4{
    color:white;
    margin-bottom:18px;
    font-size:16px;
}

.footer-col a{
    color:#cbd5e1;
    margin-bottom:11px;
    font-size:14px;
}

.footer-col a:hover{
    color:white;
}

.footer-bottom{
    width:1180px;
    margin:0 auto;
    padding:25px 0;
    color:#cbd5e1;
    font-size:14px;
}
.site-footer *{
    box-sizing:border-box;
}

.site-footer .footer-content{
    width:1180px !important;
    margin:0 auto !important;

    display:grid !important;
    grid-template-columns:2fr 1fr 1fr 1fr !important;

    gap:60px !important;
    align-items:start !important;
}

.site-footer .footer-brand{
    max-width:350px;
}

.site-footer .footer-col{
    display:flex !important;
    flex-direction:column !important;
}

.site-footer .footer-col a{
    display:block;
}

.site-footer .footer-bottom{
    width:1180px !important;
    margin:0 auto !important;
}