.sout-page{
    width:1100px;
    margin:0 auto;
    display:grid;
    grid-template-columns:280px 1fr;
    gap:45px;
    padding:55px 0 90px;
}

.sout-sidebar{
    border-right:1px solid #111;
    padding:35px 25px;
    min-height:650px;
}

.sout-sidebar h2{
    font-size:24px;
    margin:0 0 10px;
}

.sout-sidebar p{
    font-size:13px;
    margin:0 0 35px;
}

.sout-sidebar a{
    display:block;
    text-decoration:none;
    color:#111;
    font-weight:700;
    padding:15px 18px;
    border-radius:8px;
    margin-bottom:18px;
}

.sout-sidebar a.active{
    background:#dceaff;
    color:#2451ff;
}

.sout-content h1{
    font-size:42px;
    margin:0;
}

.sout-subtitle{
    color:#555;
    margin:12px 0 35px;
}

.sout-layout{
    display:grid;
    grid-template-columns:1fr 280px;
    gap:25px;
}

.sout-card,
.jury-row,
.teacher-row{
    background:white;
    border:1px solid #111;
    border-radius:14px;
    padding:22px;
}

.sout-card{
    margin-bottom:25px;
}

.sout-card h2,
.sout-block h2{
    font-size:20px;
    margin:0 0 18px;
}

.sout-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.sout-grid span{
    display:block;
    color:#555;
    font-size:13px;
    margin-bottom:6px;
}

.badge{
    background:#dceaff;
    color:#2451ff;
    padding:6px 12px;
    border-radius:20px;
}

.sout-block{
    margin-bottom:30px;
}

.jury-row,
.teacher-row{
    display:grid;
    grid-template-columns:50px 1fr 150px;
    align-items:center;
    gap:15px;
    margin-bottom:12px;
}

.teacher-row{
    grid-template-columns:50px 1fr;
}

.avatar{
    width:45px;
    height:45px;
    border-radius:50%;
    background:#dceaff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:700;
}

.jury-row h3,
.teacher-row h3{
    margin:0 0 4px;
    font-size:15px;
}

.jury-row p,
.teacher-row p{
    margin:0;
    color:#555;
    font-size:13px;
}

.jury-row span{
    border:1px solid #111;
    border-radius:20px;
    padding:6px 10px;
    text-align:center;
    font-size:12px;
    font-weight:700;
}

.step{
    border-left:2px solid #111;
    padding:12px 0 12px 15px;
    font-weight:700;
}

.step.done{
    color:#111;
}

.step.active{
    color:#2451ff;
}